extends layout

block content

    h1 Books
    p
      a.button(href='/book/new') Create New Book

    form.search(id="bookSearch", action="../search/", method="get")
      label(for='search_type') Search By:
      select#search_type(name='type')
        option(value='title') Title
        option(value='author') Author
        option(value='genre') Genre
        option(value='first_published') Year Release
      |         
      label(for='search')
      input#search(type='text', name='search' placeholder='Search')
      |                  
      input#submit(type='submit', value='Search')

    p
    | Filters 
    a(href='/book/page/1') All
    |  
    a(href='/book/overdue') Overdue
    |  
    a(href='/book/checked') Checked Out

    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released      
      tbody
        if (books < 1)
          td 
            strong #{ucfirst(searchColumn)} of '#{userInput}' not found!
        each book in books
          tr
            td
              a(href='/book/' + book.id) #{book.title}
            td #{book.author}
            td #{book.genre}
            td #{book.first_published}

    include ./partials/_pagination.jade