extends layout

block content

    h1 Patrons
    p
      a.button(href='/patron/new') Create New Patron

    form.search(id="bookSearch", action="../search/", method="get")
      label(for='search_type') Search By:
      select#search_type(name='type')
        option(value='first_name') First Name
        option(value='last_name') Last Name
        option(value='email') Email
        option(value='library_id') Library ID
        option(value='zip_code') Zip Code
      |         
      label(for='search')
      input#search(type='text', name='search' placeholder='Search')
      |                  
      input#submit(type='submit', value='Search')    
      
    table
      thead
        tr
          th Name 
          th Address
          th Email
          th Library ID
          th Zip
      tbody
        if (patrons < 1)
          td 
            strong #{ucfirst(searchColumn)} of '#{userInput}' not found! 
        each patron in patrons
          tr
            td
              a(href='/patron/' + patron.id) #{patron.first_name} #{patron.last_name}
            td #{patron.address}
            td #{patron.email}
            td #{patron.library_id}
            td #{patron.zip_code}
        
    include ./partials/_pagination.jade
     